{% extends "./header.html" %}
{% load tshirt_tags %}
{% load filter_tags %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row m-1">
        <!-- Filter side column -->
        <div class="col col-2 mt-4 border ">
            <form id="filterForm" action="/">
                <!-- Filters start -->
                <div>
                    <!-- Ideal_For -->
                    <div class="form-group">
                        <label for="idealfor">Ideal For</label>
                        <select onchange="submitForm()" name="idelfor" class="form-control" id="idealfor">
                            <option value="">Select</option>
                            {% for item in idealFor %}
                            <option {% selected_filter request.GET.idelfor item.slug %} value="{{item.slug}}">
                                {{item.title}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Brands -->
                    <div class="form-group">
                        <label for="brand">Brands</label>
                        <select onchange="submitForm()" name="brand" class="form-control" id="brand">
                            <option value="">Select Brand</option>
                            {% for brand in brands %}
                            <option {% selected_filter request.GET.brand brand.slug %} value="{{brand.slug}}">
                                {{brand.title}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Colors -->
                    <div class="form-group">
                        <label for="color">Colors</label>
                        <select onchange="submitForm()" name="color" class="form-control" id="color">
                            <option value="">Select Color</option>
                            {% for item in colors %}
                            <option {% selected_filter request.GET.color item.slug %} value="{{item.slug}}">
                                {{item.title}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Occasion -->
                    <div class="form-group">
                        <label for="occasion">Occasion</label>
                        <select onchange="submitForm()" name="occasion" class="form-control" id="occasion">
                            <option value="">Select Occasion</option>
                            {% for item in occasions %}
                            <option {% selected_filter request.GET.occasion item.slug %} value="{{item.slug}}">
                                {{item.title}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Sleeve -->
                    <div class="form-group">
                        <label for="sleeve">Sleeves</label>
                        <select onchange="submitForm()" name="sleeve" class="form-control" id="sleeve">
                            <option value="">Select Sleeves</option>
                            {% for item in sleeves %}
                            <option {% selected_filter request.GET.sleeve item.slug %} value="{{item.slug}}">
                                {{item.title}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Neck Type -->
                    <div class="form-group">
                        <label for="necktype">Neck Types</label>
                        <select onchange="submitForm()" name="necktype" class="form-control" id="necktype">
                            <option value="">Select Neck Type</option>
                            {% for item in neckTypes %}
                            <option {% selected_filter request.GET.necktype item.slug %} value="{{item.slug}}">
                                {{item.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- Filters ends -->
                <a href="/" class="btn btn-warning btn-sm">Clear Filter</a>
            </form>
        </div>

        <!-- main content column -->
        <div class="col col">
            <div class="row">
                {% for tees in page_obj %}
                <div class="col-4 mx-auto mt-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img class="card-img-top" src="{{tees.image.url}}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{tees.name|lower}}</h5>
                            <!-- <p class="card-text">{{tees.description}}</p> -->

                            <span class="text-danger">
                                <del>
                                    {% min_price tees as result %}
                                    {{result | rupee}}
                                </del>
                            </span>&nbsp;

                            <span>
                                <b>
                                    {% sale_price tees as sale %}
                                    {{sale | rupee}}
                                </b>
                            </span>

                            <span class="float-right badge badge-info">save {{tees.discount}}%</span>
                        </div>

                        <div class="card-footer p-0">
                            <a href="/product/{{tees.slug}}" class="btn btn-primary btn-block">See More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Pagination start -->
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-end mt-3">

                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="pl-2" href="?page=1">&laquo; first</a>
                    </li>
                    <li class="page-item">
                        <a class="pl-2" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    </li>
                    {% endif %}

                    <li class="page-item">
                        <p class="pl-2">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="pl-2" href="?{{page_url}}{{ page_obj.next_page_number }}">next</a>
                    </li>
                    <li class="page-item">
                        <a class="pl-2" href="?{{page_url}}{{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- Pagination ends -->

        </div>
        <!-- main content ends -->

    </div>
</div>


<script src='{% static "store/js/home.js"%}'>

</script>

{% endblock %}