{% extends "./header.html" %}

{% block content %}

<div class="jumbotron container mt-5 p-2 alert alert-danger">
    <h1 class="display-4 text-center">Payment Failed</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque amet reiciendis harum explicabo.
        Excepturi reiciendis perferendis illum vero quasi, unde tempora, labore voluptas dolor reprehenderit, ab saepe
        ipsum earum harum?</p>
    <hr class="my-4">
    <p>your payment was failed.....!</p>
</div>



{% endblock %}